@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.home_page {
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000; /* makes sure it stays above other content */
}

.main_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 60px;
}

.left-content {
    background-image: url('https://img.freepik.com/premium-photo/asphalt-road-texture-background-flat-lay-top-view_41050-4412.jpg');
}

.title-bar {
    width: 100%;
    padding: 10px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgray;
}

.title-bar > p {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

.nascar-title {
    width: 50%;
}

.dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.dropdown-container > p {
    font-family: 'Orbitron', sans-serif;
    color: white;
    padding: 10px;
}

.nascar-input {
  padding: 12px 16px;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  color: #000000;
  background: linear-gradient(to right, #ffffff, #4a4a4a);
  border: 2px solid #ff0000; /* red accent like a tail light */
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.4);
}

.nascar-input::placeholder {
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nascar-input:focus {
  border-color: #ffd700; /* yellow like NASCAR highlights */
  box-shadow: 0 0 10px #ffd700;
  background: linear-gradient(to right, #fcfcfc, #4f4f4f);
}

.driver-card {
    background-color: lightgray;
    border: 5px solid black;
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    
}

.driver-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.driver-label > p {
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

.driver-number {
    margin: 10px;
}

.button-container {
    width: 25%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container > button {
    height: 60px;
    width: 40%;
    margin: 10px;
    background-color: grey;
    color: white;
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;  
}

.button-container > button:hover {
  background-color: #138496;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}