
.navbar {
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    border-bottom: 2px solid black;
    position: fixed;
    justify-content: space-evenly;
}

.nav-button {
    margin: 10px;
    width: 20vw;
    height: 70%;
    background-color: grey;
    color: white;
    font-family: 'Orbitron', sans-serif;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
}

.nav-button:hover {
  background-color: #138496;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}